html {
font-size: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
  padding-top:0 !important;
  background-color: $neutral-background-color;
}

main{
	z-index: 1;
}
main > section {
	@include margin-top(type-margin-calculator($h2-font-size));
	@include margin-bottom(type-margin-calculator($h2-font-size));
}

@media screen and (max-width: $md-screen-breakpoint){
	main > section > section{
		@include margin-bottom(1.4382 * 1.618 * 1.3/2);
	}
}

.grid-row{
	  //fix for seetting max widths for large screen sizes
	  max-width: $xl-screen-breakpoint;
	  margin: 0 auto;
	  position: relative; /* Fix for absolute positioning here */
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic,300);

/*!----
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2015 Daniel Eden
*/

@mixin animated() {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }
  
  .animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes fadeIn {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
  }
  
  @keyframes fadeIn {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
  }
  
  @mixin fadeIn() {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
  }
  
  .fadeIn{
	@include animated();
	@include fadeIn();
  }
  
  @-webkit-keyframes fadeInDown {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	}
  
	100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  @keyframes fadeInDown {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	}
  
	100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  @mixin fadeInDown() {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
  }
  
  .fadeInDown{
	@include animated();
	@include fadeInDown();
  }
  
  
  
  @-webkit-keyframes fadeInLeft {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  @keyframes fadeInLeft {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  @mixin fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
  }
  
  .fadeInLeft{
	@include animated();
	@include fadeInLeft();
  }
  
  
  
  @-webkit-keyframes fadeInRight {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  @keyframes fadeInRight {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  @mixin fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
  }
  
  .fadeInRight{
	@include animated();
	@include fadeInRight();
  }
  
  
  @-webkit-keyframes slideOutDown2d {
	from {
	  z-index: 2;
	  -webkit-transform: translateY(0);
	}
  
	to {
	  z-index: -1;
	  visibility: hidden;
	  -webkit-transform: translateY(100%);
	}
	1%{
	  z-index: -1;
	}
  }
  
  @keyframes slideOutDown2d {
	from {
	  z-index: 2;
	  transform: translateY(0);
	}
  
	to {
	  z-index: -1;
	  visibility: hidden;
	  transform: translateY(100%);
	}
	1%{
	  z-index: -1;
	}
  }
  
  @mixin slideOutDown2d() {
	-webkit-animation-name: slideOutDown2d;
	animation-name: slideOutDown2d;
  }
  
  .slideOutDown2d{
	@include animated();
	@include slideOutDown2d();
  }
  
  
  
  @-webkit-keyframes shake {
	from, to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  
	10%, 30%, 50%, 70%, 90% {
	  -webkit-transform: translate3d(-10px, 0, 0);
	  transform: translate3d(-10px, 0, 0);
	}
  
	20%, 40%, 60%, 80% {
	  -webkit-transform: translate3d(10px, 0, 0);
	  transform: translate3d(10px, 0, 0);
	}
  }
  
  @keyframes shake {
	from, to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  
	10%, 30%, 50%, 70%, 90% {
	  -webkit-transform: translate3d(-10px, 0, 0);
	  transform: translate3d(-10px, 0, 0);
	}
  
	20%, 40%, 60%, 80% {
	  -webkit-transform: translate3d(10px, 0, 0);
	  transform: translate3d(10px, 0, 0);
	}
  }
  
  @mixin shake {
	-webkit-animation-name: shake;
	animation-name: shake;
  }
  
  .shake{
	@include animated();
	@include shake;
  }
  
  //Pulse
  @-webkit-keyframes pulse {
	from {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  
	50% {
	  -webkit-transform: scale3d(1.05, 1.05, 1.05);
	  transform: scale3d(1.05, 1.05, 1.05);
	}
  
	to {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  }
  
  @keyframes pulse {
	from {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  
	50% {
	  -webkit-transform: scale3d(1.10, 1.10, 1.10);
	  transform: scale3d(1.10, 1.10, 1.10);
	}
  
	to {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  }
  
  @mixin pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
  }
  
  .pulse{
	@include animated();
	@include pulse();
  }
  
  
  @-webkit-keyframes flash {
	from, 50%, to {
	  opacity: 1;
	}
  
	25%, 75% {
	  opacity: 0;
	}
  }
  
  @keyframes flash {
	from, 50%, to {
	  opacity: 1;
	}
  
	25%, 75% {
	  opacity: 0;
	}
  }
  
  @mixin flash {
	-webkit-animation-name: flash;
	animation-name: flash;
  }
  .flash{
	@include animated();
	@include flash();
  }
  
  @keyframes fadeOut {
	from {
	  opacity: 1;
	}
  
	to {
	  opacity: 0;
	}
  }
  @mixin fadeOut {
	animation-name: fadeOut;
  }
  .fadeOut{
	@include animated();
	@include fadeOut();
  }
  
  
  @keyframes fadeOutLeft {
	from {
	  opacity: 1;
	}
  
	to {
	  opacity: 0;
	  transform: translate3d(-100%, 0, 0);
	}
  }
  @mixin fadeOutLeft {
	animation-name: fadeOutLeft;
  }
  .fadeOutLeft{
	@include animated();
	@include fadeOutLeft();
  }
  
  
  @keyframes fadeOutRight {
	from {
	  opacity: 1;
	}
  
	to {
	  opacity: 0;
	  transform: translate3d(100%, 0, 0);
	}
  }
  @mixin fadeOutRight {
	animation-name: fadeOutRight;
  }
  .fadeOutRight{
	@include animated();
	@include fadeOutLeft();
  }
  
  @keyframes fadeOutDown {
	from {
	  opacity: 1;
	}
  
	to {
	  opacity: 0;
	  transform: translate3d(0, 100%, 0);
	}
  }
  @mixin fadeOutDown {
	animation-name: fadeOutDown;
  }
  .fadeOutDown{
	@include animated();
	@include fadeOutDown();
  }
  
  /*Not from animate.css*/
  @keyframes sonar {
	0% {transform: scale(.9); opacity:1;}
	100% {transform: scale(2);opacity: 0;}
  }
  .sonar{
	-webkit-animation-name: sonar;
	animation-name: sonar;
  }
  
  
  //HOVER ANIMATIONS
  
  /* Fade background */
   .hvr-fade {
	 -webkit-transform: translateZ(0);
	 transform: translateZ(0);
	 -webkit-backface-visibility: hidden;
	 backface-visibility: hidden;
	 -moz-osx-font-smoothing: grayscale;
	 overflow: hidden;
	 -webkit-transition-duration: 0.2s;
	 transition-duration: 0.2s;
	 -webkit-transition-property: border-color,color, background-color;
	 transition-property: border-color,color, background-color;
   }
  
   /* Sweep To Right */
   .hvr-sweep-to-right {
	 display: inline-block;
	 vertical-align: middle;
	 -webkit-transform: translateZ(0);
	 transform: translateZ(0);
	 box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	 -webkit-backface-visibility: hidden;
	 backface-visibility: hidden;
	 -moz-osx-font-smoothing: grayscale;
	 position: relative;
	 -webkit-transition-property: color;
	 transition-property: color;
	 -webkit-transition-duration: 0.3s;
	 transition-duration: 0.3s;
   }
   .hvr-sweep-to-right:before {
	 content: "";
	 position: absolute;
	 z-index: -1;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background: $primary-color;
	 -webkit-transform: scaleX(0);
	 transform: scaleX(0);
	 -webkit-transform-origin: 0 50%;
	 transform-origin: 0 50%;
	 -webkit-transition-property: transform;
	 transition-property: transform;
	 -webkit-transition-duration: 0.3s;
	 transition-duration: 0.3s;
	 -webkit-transition-timing-function: ease-out;
	 transition-timing-function: ease-out;
   }
   .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
	 color: white;
   }
   .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
	 -webkit-transform: scaleX(1);
	 transform: scaleX(1);
   }
  
   /* Underline From Left */
  .hvr-underline-from-left {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
  }
  .hvr-underline-from-left:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: $primary-color;
	height: 3px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
	right: 0;
  }
  
  
  /* Underline From Center */
  .hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
  }
  .hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: $secondary-color;
	height: 3px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
  }
  
  
  
  /* Overline From Center */
  .hvr-overline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
  }
  .hvr-overline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	top: 0;
	background: #fff;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
	left: 0;
	right: 0;
  }
  