/* SG
# Buttons/Default buttons

Available classes are _.primary-button_, _.special-button_, _.outline-button_. These classes can either be applied to the link (a) element or the form button (button) element. These buttons are inline elements on medium & large screen sizes but become block elements occupying 100% width on small screen sizes.

```
<a href="#" class="primary-button">Primary Button</a>
<a href="#" class="special-button">Special Button</a>
<a href="#" class="outline-button">Outline Button</a>

```
*/
.button{
	display: block;
	color: white !important;
	text-decoration: none !important;
	text-align: center;
	zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;  /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
  font-family: $button-font-family;
	@extend .hvr-fade;
}

/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/*csslint outline-none:false*/

/*
.button-active,
.button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000\9;
}
*/


.button[disabled],
.button[disabled]:hover,
.button[disabled]:focus,
.button[disabled]:active
.button-disabled,
.button-disabled:hover,
.button-disabled:focus,
.button-disabled:active {
    border: none;
    background-image: none;
		background-color: inherit;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.button:hover {
	text-decoration: none;
	background-color: $secondary-color;
	border: solid 1px $secondary-color;
	cursor: pointer;
}

.button .fa{
	@include margin-right(.25);
}

.button-hidden {
    display: none;
}

// Separating out button sizes. By default, the button sizes are the same but on screens greater than 42.666em, they diverge into different sizes
.button-size, .button-size-small{
	padding: .75em 1em;
	@include margin-bottom(1);
	@include border-radius($border-radius);
	@include font-size(1.2);
}

.outline-button:hover, .small-outline-button:hover {
	text-decoration: none;
	background-color: $special-background-color;
	border: solid 1px $primary-color;
	cursor: pointer;
}

/**
 *
 * =======================================================================
   Various button classes to be used in markup
 * =======================================================================
 */
@mixin primary-button-style() {
	&[disabled],
	&[disabled]:hover,
	&[disabled]:focus,
	&[disabled]:active {
		background-color: $primary-color;
	}
}

.primary-button{
	// @extend .button;  // You may not @extend selectors across media queries.
	// @extend .button-size;  // You may not @extend selectors across media queries.
	@include primary-button-style;
	background: $primary-color;
	border: solid 1px $primary-color;
}

.special-button{
	// @extend .button;  // You may not @extend selectors across media queries.
	// @extend .button-size;  // You may not @extend selectors across media queries.
	background: $special-color;
	border: solid 1px $special-color;
	vertical-align: middle;
	letter-spacing: 1px;
}

.outline-button{
	// @extend .button;  // You may not @extend selectors across media queries.
	// @extend .button-size;  // You may not @extend selectors across media queries.
	background: none;
	border: solid 1px $primary-color;
	color: $primary-color !important;
	vertical-align: middle;
	letter-spacing: 1px;
}


/* SG
# Buttons/Small buttons

Available classes are _.primary-button_, _.special-button_, _.outline-button_. These classes can either be applied to the link (a) element or the form button (button) element. These buttons are inline elements on medium & large screen sizes but become block elements occupying 100% width on small screen sizes.

```
<a href="#" class="small-primary-button">Primary Button</a>
<a href="#" class="small-special-button">Special Button</a>
<a href="#" class="small-outline-button">Outline Button</a>

```
*/

.small-primary-button{
	// @extend .button;  // You may not @extend selectors across media queries.
	// @extend .button-size-small;  // You may not @extend selectors across media queries.
	@include primary-button-style;
	background: $primary-color;
	border: solid 1px $primary-color !important;
}
.small-primary-button:hover{
	border: solid 1px $secondary-color !important;
}
.small-special-button{
	// @extend .button;  // You may not @extend selectors across media queries.
	// @extend .button-size-small;  // You may not @extend selectors across media queries.
	background: $special-color;
	border: solid 1px $special-color !important;
	vertical-align: middle;
	letter-spacing: 1px;
}
.small-special-button:hover{
	border: solid 1px $secondary-color !important;
}
.small-outline-button{
	// @extend .button;  // You may not @extend selectors across media queries.
	// @extend .button-size-small;  // You may not @extend selectors across media queries.
	background: none;
	border: solid 1px $primary-color !important;
	color: $primary-color !important;
	vertical-align: middle;
	letter-spacing: 1px;
}



/* SG
# Buttons/Floating Action Button

A floating action button shows at the bottom of the screen.

```
<div class="floating-button-container show-for-small-only">
    <a class="floating-button" href="">
      <span class="fa fa-plus" aria-hidden="true"></span>
      <span class="show-for-sr">Add a study</span>
    </a>
    <div class="helptip">Add a study</div>
</div>

```
*/
// Floating button needs a container and has a tooltip
.floating-button-container{
	bottom: 24px;
	right: 24px;
	position: fixed;
	padding-top: 15px;
	margin-bottom: 0;
	z-index: 998;
	@extend .fadeInRight;
}
.floating-button-container a.floating-button{
	display: inline-block;
	color: #fff;
	position: relative;
	overflow: hidden;
	z-index: 1;
	width: 55.5px;
	height: 55.5px;
	line-height: 56px;
	@include padding(0);
	background-color: $primary-color;
	border-radius: 50%;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.floating-button-container .floating-button span {
	width: inherit;
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 1rem;
	line-height: 37px;
}
.floating-button-container .helptip{
	display: none;
}
.floating-button-container .floating-button.lite {
	background-color: #999;
}

.floating-button-container:hover,
.floating-button-container:focus{
	cursor: pointer;
}
.floating-button-container:hover a.floating-button,
.floating-button-container:focus a.floating-button{
	-webkit-box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
/**
 *
 * =======================================================================
   Responsive styling
 * =======================================================================
 */

 /* SG
 # Buttons/Button Container

 Apply container div with class _.center-button-container_ to center a button. The button will appear as a block on mobile devices making the container irrelevant.

 ```
 <div class="center-button-container">
	 <a href="#" class="small-primary-button">Primary Button</a>
 </div>

 ```
 */

/*Full width buttons on smaller screens*/
@media screen and (max-width: $md-screen-breakpoint){
	.full-width-button-small{
  	width: 100%;
  }
}

@media screen and (min-width: $md-screen-breakpoint){

	/*By default the button is set to be a block but on screens bigger than 42.666em, the button changes to an inline block*/
	.button{
		display: inline-block;
		margin-bottom: 0;
	}

	// For full width buttons on larger screens
	.full-width-button{
		width: 100%;
	}

	/*By default, the button sizes are the same but on screens greater than 42.666em, they diverge into different sizes*/
	.button-size-small{
		padding: .5em 0.625em;
		@include margin-bottom(0.7);
		@include border-radius($border-radius);
		@include font-size(1);
	}

	//Button Container for screen sizes greater than mobile
	.center-button-container{
		@include margin-top(2);
		text-align: center;

		.primary-button,
		.outline-button{
			@include margin-right(.5);
			&:last-child{
				margin-right: 0;
			}
		}
	}

	//show FAB tooltip on medium and large screen devices
	.floating-button-container:hover .helptip,
	.floating-button-container:focus .helptip{
		display: inline-block;
		background: rgba(0, 0, 0, 0.85);
		color: #fff;
		float: left;
		@include margin-right(.75);
		@include padding-top(.25);
		@include padding-bottom(.25);
		@include padding-left(.5);
		@include padding-right(.5);
		@include font-size(.8);
		vertical-align: middle;
		position: relative;
		overflow: hidden;
		z-index: 1;
		margin-top:9.25px; //37/2/2
		// @include fadeIn();
	}
}

/*For when links are styled as buttons (role=button)*/
a[role="button"]{
	cursor: pointer;
}
