/* *********************** COLORS *********************** */
// Utility font classes for colors
/* ********************************************************** */


/**
 *
 * =======================================================================
   Primary Colors. Mostly applied in buttons
 * =======================================================================
 */
.primary-color{
	background: $primary_color;
	&--50 {
		background: $primary-color-50;
	}
	&--100 {
		background: $primary-color-100;
	}
	&--200 {
		background: $primary-color-200;
	}
	&--300 {
		background: $primary-color;
	}
	&--400 {
		background: $primary-color-400;
	}
	&--500 {
		background: $primary-color-500;
	}
}


/**
 *
 * =======================================================================
   Secondary Colors. Mostly applied in buttons
 * =======================================================================
 */
.secondary-color{
	background: $secondary_color;
	&--50 {
		background: $secondary-color-50;
	}
	&--100 {
		background: $secondary-color-100;
	}
	&--200 {
		background: $secondary-color-200;
	}
	&--300 {
		background: $secondary-color;
	}
	&--400 {
		background: $secondary-color-400;
	}
	&--500 {
		background: $secondary-color-500;
	}
}

/**
 *
 * =======================================================================
   Other Colors. Mostly applied in buttons
 * =======================================================================
 */
.special-color{
	background: $special_color;
}
.accent-color{
	background: $accent_color;
}

/**
 *
 * =======================================================================
   Font Colors
 * =======================================================================
 */
.header-font-color{
	color: $header-font-color;
}
.base-font-color{
	color:$base-font-color;
}
.secondary-font-color{
	color: $secondary-font-color;
}
.success-font-color{
	color: $success-font-color;
}
.error-font-color{
	color: $error-font-color;
}

/**
 *
 * =======================================================================
   Background Colors
 * =======================================================================
 */
.neutral-background-color{
	background-color: $neutral-background-color;
}
.special-background-color{
	background-color: $special-background-color;
}
