/* *********************** FORMS **************************** */
/* ********************************************************** */

/***
  title: Forms
  section: Atoms
  description: These are the basic styles that are applied to any form on UMClinicalStudies.org. These form elements can be applied within our grid to lay them out in a certain way. Along with styling the native HTML elements, we also have some utility classes like "input-rounded" for rounded inputs and "form-aligned" for aligned forms where text and input controls are on same line and text is right aligned. See examples below for details.
  example:
  	<div class="grid-row">
	    <div class="grid-golden-smaller grid-md-1-3"><p>Golden Smaller Segment on small screens, 1/3rd width on medium screens</p></div>
	    <div class="grid-golden-larger grid-md-1-3"><p>Golden Larger Segment on small screens, 1/3rd width on medium screens</p></div>
	</div>
***/


button, input, optgroup, select, textarea {
	font-size: inherit;
}


/**
 *
 * =======================================================================
   Basic input elements styling
 * =======================================================================
 */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
    padding: 0.8em 0.9em;
    display: inline-block;
    border: 2px solid $form-field-border-color;
    border-radius: $border-radius;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: $field-background-color;
    font-family: $primary-font-family;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type]) {
    padding: 0.8em 0.9em;
    display: inline-block;
    border: 2px solid $form-field-border-color;
    border-radius: $border-radius;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: $field-background-color;
}

input[type="radio"],
input[type="checkbox"]{
	margin-left: 0;
}

/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
input[type="color"] {
    padding: 0.2em 0.5em;
}


// If you need to normalize and align checkboxes and radio inputs on separate lines, add the full-line-checkbox or full-line-radio classname.
.full-line-checkbox,
.full-line-radio {
    margin: 0.5em 0;
    display: block;
}


/**
 *
 * =======================================================================
   Submit button styling
 * =======================================================================
 */

button[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/**
 *
 * =======================================================================
   Basic input elements styling on focus
 * =======================================================================
 */

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    border-color: $form-field-focus-border-color;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type]):focus {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    border-color: $form-field-focus-border-color;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 1px auto $form-field-focus-border-color;
}


/**
 *
 * =======================================================================
   Basic disabled input elements styling
 * =======================================================================
 */

input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type])[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}


/**
 *
 * =======================================================================
   Basic read-only input elements styling
 * =======================================================================
 */

input[readonly],
select[readonly],
textarea[readonly] {
    background: #eee;
    color: #777;
    border-color: #ccc;
}


/**
 *
 * =======================================================================
   Styling for invalid inputs and text areas
 * =======================================================================
 */
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: $error-font-color;
    border-color: #e9322d;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: #e9322d;
}
input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}

/**
 *
 * =======================================================================
   Select element styling
 * =======================================================================
 */

select{
    border: 2px solid $form-field-border-color;
    background-color: white;
	//Hack to add padding to select elements since webkit browsers do not allow it
//     text-indent:0.5em;
    height:2.98em; //padding + buffer + font-size
}
select[multiple] {
    height: auto;
}


/**
 *
 * =======================================================================
   Label element styling
 * =======================================================================
 */
label {
    // margin: 0.5em 0 0.2em;
    font-weight: 500;
		line-height: 140%;
}

//Block labels for checkboxes and radio buttons
label.block-label,
.form-stacked label.block-label{
	display: inline-flex;
	align-items: baseline;
	padding: .8em .9em;
	background-color: $check-radio-background-color;
	border:2px solid $check-radio-background-color;
	@include border-radius($border-radius);
	font-size: 1em !important;
	font-size: 18px !important;
	font-weight:normal !important;
	@include margin-bottom(.25);
	@include margin-right(.25);
}
label.block-label:hover{
	border:2px solid $form-field-focus-border-color;
	cursor: pointer;
}
//Hack for checkboxes or radios to show same height in inline forms. Use additional below class for labels in inline forms
label.block-label.inline-block-label{
	padding: .5em .9em !important;
}
//If you do not want the block label to have a background color
label.block-label.no-background{
	background-color: transparent;
	border:2px solid transparent;
	&:hover{
		border:2px solid $form-field-focus-border-color;
	}
}
/**
 *
 * =======================================================================
   Fieldset element styling
 * =======================================================================
 */
fieldset {
    margin: 0;
		@include margin-bottom(2);
    padding: 0.35em 2em 0.75em 2em;
    border: 0;
		position: relative;
		padding-top: 90px;
		border-left: solid 10px $secondary-color;
		border-radius: $card-border-radius;
    background-color: #fff;
		@include box-shadow();

}

fieldset.special-fieldset{
	border-left-color: lighten($primary-color,15%);
}
/**
 *
 * =======================================================================
   Legend element styling
 * =======================================================================
 */
legend {
		position: absolute;
		top: 0em;
		display: block;
		background-color: #fff;
    width: 85%;
    padding: 1em 0 0.3em 0;
		font-family: $header-font-family;
		@include font-size($form-legend-font-size);
		@include margin-bottom(1.35);
		color: $accent-color;
		text-transform: uppercase;
		line-height: 130%;
		border-bottom: solid 2px;
		font-weight: bold;
}


.form-section-heading{
	@extend .beta;
	text-align: center;
	color: $secondary-font-color;
	font-weight: 300;
}
/**
 *
 * =======================================================================
   Stacked form syling (create a stacked form with input elements below the labels)
 * =======================================================================
 */
.form-stacked input[type="text"],
.form-stacked input[type="password"],
.form-stacked input[type="email"],
.form-stacked input[type="url"],
.form-stacked input[type="date"],
.form-stacked input[type="month"],
.form-stacked input[type="time"],
.form-stacked input[type="datetime"],
.form-stacked input[type="datetime-local"],
.form-stacked input[type="week"],
.form-stacked input[type="number"],
.form-stacked input[type="search"],
.form-stacked input[type="tel"],
.form-stacked input[type="color"],
.form-stacked select,
.form-stacked textarea {
    display: block;
    @include margin-bottom(1.5);
}

.form-stacked label{
	display: block;
}
/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.form-stacked input:not([type]) {
    display: block;
//     margin: 0.25em 0;
	 @include margin-bottom(1.5);
}

/*
Class inline-fields provides a way to use inline fields within a stacked form. Example: First Name and last name. Add the class .inline-fields to the outer field container.
*/
.form-stacked .inline-fields{
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	display: -ms-flexbox;
	-ms-flex-flow: row wrap;
	display: flex;
	flex-flow: row wrap;
}
.form-stacked .inline-fields .field-container {
	display: inline-block;
	@include margin-right(0.5);
	@include margin-bottom(.25);
}

.form-stacked .inline-fields.validation-error-container {
	display: block;
}

/*** Hack for select boxes on FF that appear unaligned. Especially applies to date fields ***/
//The below only targets FF (all versions)
@-moz-document url-prefix() {
	@media only screen and (min-width : $md-screen-breakpoint) {
		.form-stacked .inline-fields.validation-error-container {
			display: flex;
		}
	}
}

.form-stacked fieldset > .field-container {
    margin-bottom: 2.5rem;
}
/**
Class currency field provides a way to use a add a currency field into your stacked form. Add class .currency-field to your outer container which contains the field and the $ symbol.
 */
.currency-field{
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	display: -ms-flexbox;
	-ms-flex-flow: row wrap;
	display:flex;
	flex-flow: row wrap;
}
.currency-field span{
	display: inline-block;
    border: 2px solid $form-field-border-color;
    @include border-radius($border-radius);
    padding: 0.8em 0.9em;
    line-height: 20px;
	@include margin-bottom(.25);
    margin-right: -5px;
}
.currency-field input{
	display: inline-block;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/*
Class .other-label can be used for a field label that is withing a field container that contains a group of fields. Typically used for the "Other" field below checkboxes.
*/
.form-stacked .other-label{
	font-weight: normal;
}

/*
A field with a label, help text, help link and an error text needs to be inside a "field-container" class. The styling for this within a stacked form class is below
*/

//Field-container
.form-stacked .field-container{
	@include margin-bottom(1.5);
}

//If an input is inside a field-container, only a smaller bottom margin is required
.form-stacked .field-container input, .form-stacked .field-container select,
.form-stacked .field-container textarea{
	@include margin-bottom(0.25);
}

// Help text
.form-stacked .field-container .field-help-text{
	color: $secondary-font-color;
	line-height: 140%;
	@include font-size($form-help-text-font-size);
	@include margin-bottom(0.50);
}

// Adding a top margin to the submit button of a form
.form-stacked button[type="submit"],
.form-stacked a[class$="button"]{
	@include margin-top(2.415);
}



/**
 *
 * =======================================================================
   Aligned form syling (the labels are right-aligned against the form input controls, but on smaller screens revert to a stacked form)
 * =======================================================================
 */

.form-aligned .field-container {
    margin-bottom: 1.5em;
}

.form-aligned .field-container .label-container {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
	-webkit-hyphens: none;
	-moz-hyphens: none;
    hyphens: none;
    -ms-word-break: keep-all;
     word-break: keep-all;

}

.form-aligned .field-container .input-container label{
	display:block;
	@include margin-top(0);
	line-height: 140%;
}

.form-aligned .field-container .label-container .field-help-text {
	color: $secondary-font-color;
	@include font-size($form-help-text-font-size);
	line-height: 140%;
}

.form-aligned .input-container{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}

.form-aligned .button-container{
	@include margin-top(2.415);
	vertical-align: middle;
    margin-left: 8em;
}

/**
 *
 * =======================================================================
   Validation errors for Stacked and Aligned forms
 * =======================================================================
 */

 // Error text (errors show up when the HTML validation runs")
.field-error-text{
	color: $error-font-color;
	@include font-size($form-help-text-font-size);
	@include margin-top(0.25);
	line-height: 140%;
}

.form-stacked .field-error input,
.form-stacked .field-error select,
.form-stacked .field-error textarea,
.form-aligned .field-error .input-container input,
.form-aligned .field-error .input-container select,
.form-aligned .field-error .input-container textarea{
	color: $error-font-color;
	border-color: #e9322d;

}

/**
 *
 * =======================================================================
   Rounded inputs
 * =======================================================================
 */

input.input-rounded,
.input-rounded {
    border-radius: 2em;
    padding: 0.5em 1em;
}



/**
 *
 * =======================================================================
   Grouped inputs (Inputs with a label that are vertically grouped. Work well for sign-up forms on mobile)
 * =======================================================================
 */
.form-group fieldset {
    margin-bottom: 10px;
}
.form-group input {
    display: block;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    position: relative;
    top: -1px;
}
.form-group input:focus {
    z-index: 2;
}
.form-group input:first-child {
    top: 1px;
    border-radius: $border-radius $border-radius 0 0;
}
.form-group input:last-child {
    top: -2px;
    border-radius: 0 0 $border-radius $border-radius;
}


/**
 *
 * =======================================================================
   Various input sizes
 * =======================================================================
 */


.input-1 {
    width: 100%;
}
.input-2-3 {
    width: 66%;
}
.input-1-2 {
    width: 50%;
}
.input-1-3 {
    width: 33%;
}
.input-1-4 {
    width: 25%;
}

/**
 *
 * =======================================================================
   Responsive stuff where forms look different on mobile
 * =======================================================================
 */

// Targeting screens less than 640 pixels wide (phones + 7inch tablets)
@media (max-width : $md-screen-breakpoint) {
    button[type="submit"] {
		@include margin-top(2.415);
		width: 100%;

    }

	input:not([type]),
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="week"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	select,
	label {
        display: block;
				@include margin-bottom(1.5);
    }

	input:not([type]),
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="week"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	select{
		width: 100%;
	}

	.input-1,
	.input-2-3,
	.input-1-2,
	.input-1-3,
	.input-1-4 {
    	width: 100%;
//     	width: auto;
	}

//Stacked Forms
.form-stacked .inline-fields{
	display: block;
}
.form-stacked .inline-fields .field-container {
	display: block;
}

fieldset{
	border-left: solid 5px $secondary-color;
	padding: 110px .75em 0.75em .90em;
}

legend,label{
	-webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

// Aligned Forms
    .form-aligned .field-container .label-container {
        @include margin-bottom(0.25);
        text-align: left;
        display: block;
        width: 100%;
    }

	.form-aligned .field-container .label-container label{
		@include margin-bottom(0.25);
	}

	.form-aligned .field-container .input-container input:not([type]),
	.form-aligned .field-container .input-container input[type="text"],
	.form-aligned .field-container .input-container input[type="password"],
	.form-aligned .field-container .input-container input[type="email"],
	.form-aligned .field-container .input-container input[type="url"],
	.form-aligned .field-container .input-container input[type="date"],
	.form-aligned .field-container .input-container input[type="month"],
	.form-aligned .field-container .input-container input[type="time"],
	.form-aligned .field-container .input-container input[type="datetime"],
	.form-aligned .field-container .input-container input[type="datetime-local"],
	.form-aligned .field-container .input-container input[type="week"],
	.form-aligned .field-container .input-container input[type="number"],
	.form-aligned .field-container .input-container input[type="search"],
	.form-aligned .field-container .input-container input[type="tel"],
	.form-aligned .field-container .input-container input[type="color"],
	label {
		@include margin-bottom(0.25);
    }

	.form-aligned .button-container {
		margin-left: 0px;
		text-align: center;
	}

	.form-aligned .button-container button[type="submit"]{
		@include margin-top(1.5);
	}

//Messages
    .form-message-inline,
    .form-message {
        display: block;
        font-size: 0.75em;
        /* Increased bottom padding to make it group with its related input element. */
        padding: 0.2em 0 0.8em;
    }

//Global Form
    form{
	    width: 100%;
    }
}
