/* SG
# Buttons/Button group

Button groups are containers for related action items. They're great when you need to display a group of actions in a bar. These build off existing button styles. They can be used for normal buttons or small buttons.

```
<h4>Button group with default buttons</h4>
<div class="button-group" role="group" aria-label="Button group with default buttons">
  <button class="primary-button">Button</button>
  <button class="primary-button">Button</button>
  <button class="primary-button">Button</button>
  <button class="primary-button">Button</button>
</div>

<h4>Button group with small buttons</h4>
<div class="button-group" role="group" aria-label="Button group with small buttons">
  <button class="small-primary-button">Button</button>
  <button class="small-primary-button">Button</button>
  <button class="small-primary-button">Button</button>
  <button class="small-primary-button">Button</button>
</div>

```
*/

.button-group{
	display: inline-flex;
	flex-wrap: nowrap;
	align-items: stretch;
	@include margin-right(1);
	.primary-button,
	.small-primary-button{
		border-right: solid 1px #fff;
		&:first-child{
			border-top-right-radius: 0;
	    border-bottom-right-radius: 0;
		}
		&:last-child{
			border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
			border-right: 0;
		}
		&:not(:first-child){
			&:not(:last-child){
				border-radius:0;
			}
		}
	}
}
