/* SG
# Button bar

Combine sets of button groups into a button bar.

```

<h4>Button bar with default buttons</h4>
<div class="button-bar" role="toolbar" aria-label="An example button toolbar">
  <button class="primary-button">Button</button>

  <div class="button-group" role="group" aria-label="Button group with default buttons">
    <button class="primary-button">Button</button>
    <button class="primary-button">Button</button>
    <button class="primary-button">Button</button>
    <button class="primary-button">Button</button>
  </div>

  <button class="primary-button">Button</button>
</div>

<br/>

<h4>Button bar with small buttons</h4>
<div class="button-bar" role="toolbar" aria-label="An example button toolbar">
  <button class="small-primary-button">Button</button>

  <div class="button-group" role="group" aria-label="Button group with default buttons">
    <button class="small-primary-button">Button</button>
    <button class="small-primary-button">Button</button>
    <button class="small-primary-button">Button</button>
    <button class="small-primary-button">Button</button>
  </div>

  <button class="small-primary-button">Button</button>
</div>

<br/>

<h4>To have the bar expand to the given space, use the class .expanded</h4>
<section class="button-bar expanded" role="toolbar" aria-label="Recommended participants toolbar">
  <button class="outline-button"><span class="fa fa-list"></span></button>
  <button class="outline-button"><span class="fa fa-folder"></span></button>
  <button class="outline-button"><span class="fa fa-tags"></span></button>
  <button class="outline-button"><span class="fa fa-comments"></span></button>
</section>
```
*/
.button-bar{
	@include flex-display();
	flex-wrap: wrap;
	justify-content: flex-start;
	>button{
		@include margin-right(1);
	}
	/*This is required so that when a dropdown is added to a button using the “React DD Menu” plugin, the margin for that button is still retained*/
	.dd-menu{
		>button{
			@include margin-right(1);
		}
	}
	button{
		@include margin-bottom(1);
    @include box-shadow();
		//Bringing the size of the default buttons down if they are part of a toolbar
		&.primary-button{
			@include font-size($form-help-text-font-size);
		}
    //Granular styling for the select button
    &.select{
      .fa-square-o{
        @include margin-right(.5);
      }
    }
    //Stlying for the disabled button
    &[disabled]{
      background-color: $primary-color;
      opacity: .5;
      &:hover{
        background-color: $primary-color;
        opacity: .5;
        border-right: solid 1px #fff;
      }
    }
	}
	// To have an expanded list, use the class .expanded
	&.expanded{
		justify-content: space-around;
	}
}

@media screen and (min-width: $xl-screen-breakpoint){
	.button-bar{
		button{
			&.primary-button{
				@include font-size(1);
			}
		}
	}
}
