.jq-toast-wrap{
  .jq-toast-single{
    line-height: 120%;
    @include font-size(.9);
    @include padding-top(.9);
    @include padding-bottom(.9);
  }
  .close-jq-toast-single{
    @include font-size(.9);
  }
}


/*For React plugin reapop*/
