// @import "compass/css3";

// body {
//   background: #1d1d1d;
//   font-family: 'Lato', sans-serif;
//   font-size: 2rem;
//   color: white;
//   font-variant: small-caps;
// }

/* height */
$h: 1.25rem;
/* width */
$w: $h * 3;
/* toggle dimensions */
$tw: $h * 1.2;
/* font size */
$fs: .75rem;
/* toggle's border thickness */
$bt: 0.1rem;
/* toggle box shadow */
$bs: $bt * 2;
/* labels animation time */
$ta: 6s;
/* label text color */
$text-color: white;

/* colors: si, ?, no*/
$colors: #008000, #ff6c00, #ff0000;
// $colors: $primary-color, $primary-color, $primary-color;

@mixin borderColor($i) {
  border: $bt solid nth($colors, $i);
  // background: lighten(nth($colors, $i), 10%);
  background: nth($colors, $i);
  box-shadow: 0 0 $bs $bs/2 nth($colors, $i) inset,
              0 0 $bs $bs/2 nth($colors, $i);
}

@mixin animationDelay($time) {
  -webkit-animation-delay: $time;
  -o-animation-delay: $time;
  -moz-animation-delay: $time;
  animation-delay: $time;
}

@mixin animation($time) {
  -webkit-animation: $time rot-label ease-in-out infinite;
  -moz-animation: $time rot-label ease-in-out infinite;
  -o-animation: $time rot-label ease-in-out infinite;
  animation: $time rot-label ease-in-out infinite;
}

.wrapper {
  width: $w;
  height: $h;
  position: relative;
  @include margin(.5);
  border-radius: $h/2;
  background: #999;

  & .toggle {
    width: $tw;
    height: $tw;
    position: absolute;
    left: $w / 3 - ($tw - $h) / 2;
    top: -($tw - $h) / 2;
    border-radius: 50%;
    box-sizing: border-box;
    @include borderColor(2);

    transition:
        all .3s cubic-bezier(
          0.175, 0.885, 0.320, 1.275
        );
  }

  & label {
    cursor: pointer;
    width: $h;
    height: $h;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1;
    display: inline-block;

    text-align: center;
    line-height: $h;
    @include font-size($form-help-text-font-size);
    color: $text-color;
    @include animation($ta);
  }

  & input {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
}

.yes-radio:checked {
  background: red;

  ~ .toggle {
    @include borderColor(1);
    left: -($tw - $h) / 2;
  }
}

.no-radio:checked {
  background: red;

  ~ .toggle {
    @include borderColor(3);
    left: $w * 2 / 3 - ($tw - $h) / 2;
  }
}

.maybe-radio, .maybe-label {
  left: 100% * 1 / 3;
}

.no-radio, .no-label {
  left: 100% * 2 / 3;
}

.maybe-label {
  @include animationDelay($ta / 3);
}

.no-label {
  @include animationDelay($ta * 2 / 3);
}


@mixin keyframes($name) {
  @-webkit-keyframes $name { @content };
  @-o-keyframes $name { @content };
  @-moz-keyframes $name { @content };
  @keyframes $name { @content };
}

@include keyframes(rot-label) {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(-400deg); }
  18% { transform: rotate(-340deg); }
  20% { transform: rotate(-360deg); }
  30% { transform: rotate(-360deg); }
  100% { transform: rotate(-360deg); }
}
