/* SG
# Layouts / 2 column layout

Use class **.two-column-layout** to create a two column layout.

```
<!-- Default two column layout -->
<h2>Default two column layout</h2>
<div class="two-column-layout">
  <div class="smaller-column">
    Smaller column
  </div>
  <div class="larger-column">
    Larger column
  </div>
</div>

<hr/>

<!-- Default two column layout with navigation in the smaller column-->
<h2>Default two column layout with navigation in the smaller column</h2>
<div class="two-column-layout">
  <div class="smaller-column navigation">
  <section>
    <h1>Lists</h1>
    <nav class="secondary-nav vertical">
      <ul>
        <li> <a class="active"><span class="fa fa-fw fa-star"></span> New</a>
        </li>
        <li ><a class=""><span class="fa fa-fw fa-check"></span> Eligible</a>
        </li>
      </ul>
    </nav>
    </section>
  </div>
  <div class="larger-column">
    Larger column
  </div>
</div>

<hr/>

<!-- 2 equal columns -->
<h2>2 equal columns</h2>
<div class="two-column-layout equal-columns">
  <div class="smaller-column">
    Column 1
  </div>
  <div class="larger-column">
    Column 2
  </div>
</div>
```
*/

.two-column-layout{
  @include flex-display();
  flex-direction: column;
  .smaller-column{
    flex:1;
    //If there is a navigation bar that needs to go into the left nav
    &.navigation{
      background-color: $special-background-color;
      @include margin-top(-2);
      border-top: solid 1px $border-color;
      @include padding-top(1);
      h1{
        @include font-size(.75);
        color: $secondary-font-color;
        @include padding-left(.5);
        text-transform: uppercase;
        @include margin-bottom(.5);
      }
      select{
        @include margin-left(.5);
        @include margin-right(.5);
        width: auto;
      }

      // If there are multiple sections within a navigation
      section{
        &:not(:last-child){
          @include padding-bottom(.75);
          @include margin-bottom(.75);
          border-bottom: dotted 1px $border-color;
        }
        &:not(:first-child){
          @include padding-top(.75);
        }
        >div{
          @include padding(.5);
          @extend .secondary-font-style;
        }
      }
    }
  }
  .larger-column{
    padding-top: 0;
    flex:4;
  }
  /*********** Hack for Sticky Nav ***********/
  /*******************************************/
  .larger-column > div {
    position: initial !important;
  }

  &.equal-columns{
    .smaller-column{
      @include padding(1);
      flex:1;
    }
    .larger-column{
      @include padding(1);
      flex:1;
    }
  }
}

//Medium screens and over
@media screen and (min-width: $md-screen-breakpoint){
  .two-column-layout{
    flex-direction: row;
    margin-bottom: 0; //To counter footer margin-top
    .smaller-column{
      max-width: 22%;
      @include padding-top(1);
      @include padding-bottom(1);
      &.navigation{
        background-color: #fff;
        @include box-shadow();
        margin-top:0;
        border-top: 0;
      }
    }
    .larger-column{
      @include padding-left(2);
      @include padding-top(1);
      @include padding-bottom(1);
    }
  }
}

//X-large screens and over
@media screen and (min-width: $xl-screen-breakpoint){
  .two-column-layout{
    .smaller-column{
      max-width: 16%;
    }
  }
}
