.page-helptext{
  @include flex-display;
  background-color: #fff;
  border: 1px solid $border-color;
  border-left: solid 5px $accent-color;
  @include margin-bottom(2);
  .media{
    @include padding(.5);
    color: $accent-color;
    .fa{
      @include font-size(2);
    }
  }
  .body{
    @include padding(.5);
    @extend .secondary-font-style;
    h1{
      @include font-size(1);
      color: $secondary-font-color;
      @include margin-bottom(.25);
    }
    p{
      margin-bottom: 0;
    }
  }
}
