/**
 *
 * =======================================================================
   Font Sizes
 * =======================================================================
 */

$one-rem:18; //base-font-size in px
$base-font-size: ($one-rem / 16); //base font size in proportion to default browser font size
$base-line-height:1.90; //165%;

// Typographic scale
$XL-font-size:5;
$h1-font-size:1.6180;
$h2-font-size:1.4382;
$h3-font-size:1.2222;
$h4-font-size:1.1111;
$help-font-size:0.875;

//Extra large font (used mostly for extra large icons)
$extra-large-font-size:5;


//Font Weights
$h1-font-weight: 700;
$h2-font-weight: 700;
$h3-font-weight: 700;
$h3-font-weight-regular: 400;
$h4-font-weight: 700;
$p-font-weight: 400;
$extra-large-font-weight:400;

//Forms
$form-help-text-font-size: 0.850;
$form-legend-font-size: 1.2222;

//Badges
$badge-font-size:0.850;
/**
 *
 * =======================================================================
   Colors
 * =======================================================================
 */

//Primary colors. Mostly applied in buttons
$primary-color:  #4f56a5;  // original #667780;
$primary-color-50: #B2B6DA;
$primary-color-100: #8C91C8;
$primary-color-200: #666CB5;
$primary-color-300: $primary-color;
$primary-color-400: #444A8E;
$primary-color-500: #393E76;

//Secondary colors. Mostly applied in buttons
$secondary-color: #a65926;
$secondary-color-50: #E3A982;
$secondary-color-100: #D7844D;
$secondary-color-200: #CA6C2E;
$secondary-color-300: $secondary-color;
$secondary-color-400: #8F4C20;
$secondary-color-500: #7F3E1B;

//Other colors.
$special-color: #e07477;
$accent-color: #ffbd00;

//Institution specific colors. Each institution can customize their colors here.
$institution-primary-color: rgba(32,26,22,.9);
$institution-secondary-color: #ffde03;

//Font colors
$header-font-color:#222; // Default color applied to all headers
$h1-font-color: #222; //h1 font color overrides default header color
$h4-font-color: #A3A3A3; //h4 font color overrides default header color
$base-font-color:#333;
$secondary-font-color: #666;
$small-font-color: $base-font-color;
$link-font-color: #0362CF;
$link-hover-color: $primary-color;
$success-font-color: #20AA3F;
$error-font-color: #CD0000;
$feedback-block-font-color: #484848;
$badge-font-color: #ffffff;
$badge-link-hover-font-color:$secondary-color;

// Background colors
$neutral-background-color:#F2F2F2; //gray background
$special-background-color:#E5E7F3; //light blue background
$success-background-color:#F0F8EB; //light green background color for success feedback blocks
$error-background-color:#FBEFEC; //light red background color for error feedback blocks
$info-background-color:#FFF6EC; //yellow background color for info feedback blocks
$badge-background-color: $success-font-color; //green background color for badges
$menu-badge-background-color: $success-font-color; //background color for menu badges
$field-background-color: #fff; //field background color
$check-radio-background-color: $neutral-background-color; // Background color for checkboxes and radio buttons
$message-background-color:$neutral-background-color; //message background color
$message-background-color-alternate:$special-background-color;

// Border colors
$border-color:#ccc;
$form-field-border-color:#999;
$form-field-focus-border-color:$primary-color;

//Overlay colorsf
$overlay-color:rgba(89, 141, 204, 0.95);

//Cookie Consent Banner colors
$cookie-consent-banner-background-color: $accent-color;
$cookie-consent-banner-font-color: #fff;
$cookie-consent-banner-button-background-color:$institution-secondary-color;
$cookie-consent-banner-button-font-color:$institution-primary-color;
$cookie-consent-banner-link-color:#fff;

//Homepage hero section search button background color
$homepage-search-background-color: $institution-primary-color;

//Homepage 4 steps circle colors
$step-1-color:$institution-secondary-color;
$step-2-color:$special-color;
$step-3-color:$secondary-color;
$step-4-color:$success-font-color;

//Homepage Highlighted Searches Background Colors
$highlighted-searches-background-color: rgba($institution-primary-color, 0.65);

//Volunteer Profile background colors
$volunteer-profile-background-color: $institution-secondary-color;

//Label colors for when you have various colored labels
$label-color-1:#795548;
$label-color-2:#0091EA;
$label-color-3:#00897B;
$label-color-4:#3F51B5;
$label-color-5:#D500F9;
$label-color-6:#8BC34A;
$label-color-7:#D9B51C;
$label-color-8:#607D8B;
$label-color-9:#FF80CE;
$label-color-10:#4d4d4d;

/**
 *
 * =======================================================================
   Font families
 * =======================================================================
 */
$primary-font-family: "PT Sans",sans-serif;
$header-font-family:  "PT Sans",sans-serif;
$button-font-family:  "PT Sans",sans-serif;


// Border radius
$border-radius: 5px;
$card-border-radius: 2px;

/**
 *
 * =======================================================================
   IMAGE PATHS & FILENAMES
 * =======================================================================
 */
// Defined in theme files

//****** Logos ******//
$logo-small-filename: "";
$logo-filename: "";
$department-logo-filename:"";
$institution-logo-filename:"";

//****** Victor section on homepage ******//
// There can be as many rotating images as you like. The image files must be named "1.jpg", "2.jpg" etc. If you want to choose images other than the default ones, you can specify the path where your images are stored via this variable.images
$victor-section-images-count: 8;
$victor-section-images-path: "../../../common-assets/images/victor-images";

//****** Highlighted Searches on homepage ******//
$highlighted-searches-count: 12;
$highlighted-searches-images-path: "../../../common-assets/images/canned-queries";

/**
 *
 * =======================================================================
   Responsive Breakpoints (Min. widths)
 * =======================================================================
 */
$sm-screen-breakpoint: 17.777em;
$md-screen-breakpoint: 42.666em;
$lg-screen-breakpoint: 56.888em;
$xl-screen-breakpoint: 71.111em;
